@font-face {
    font-family: "bungee Shade";
    src: url(typsnitt/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "bungee Outline";
    src: url(typsnitt/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "barlow semi condensed";
    src: url(typsnitt/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: "barlow condensed";
    src: url(typsnitt/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: "barlow condensed med";
    src: url(typsnitt/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}

@font-face {
    font-family: "barlow condensed light";
    src: url(typsnitt/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf);
}

* {
    font-family: "barlow semi condensed";
    margin: 0;
}

body {
    background-image: url(images/jimi-hendrix.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-width: 800px;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    margin: 9vh 9vw;
    width: 80vw;
}

.container h1 {
    font-family: "bungee Shade";
    font-size: 83px;
    color: rgb(233, 230, 230);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;

    list-style-type: none;
    padding: 60px 0;
}

nav li {
    background-color: rgba(255, 255, 255, 0.622);
    color: black;
    text-align: center;
    font-size: 26px;


    border-radius: 10px;
    padding: 15px 0;
}

.hover:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

#pressed {
    border: 1px solid white;
    font-family: "barlow condensed";
}

main {
    background-color: rgba(0, 0, 0, 0.4);
    border: lightgray solid 1px;
    border-radius: 15px;
    padding: 20px;
}

.album
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    width: 30vw;
    height: auto;
    gap: 10px;
    position: absolute;
    left: 850px;
}

.album img {
    width: 30vw;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.image {
    text-align: center;
    grid-column: 1 / span 2;
}

.side {
    color: rgb(255, 113, 113);
    background-color: rgb(236, 215, 50);
    border-radius: 0 0 0 15px;
    padding: 2vh;
    font-size: 14px;
}

#side2 {
    border-radius: 0 0 15px 0;
}

section {
    color: white;
}

h2 {
    font-family: "bungee Outline";
    font-size: 34px;
}

section h3 {
    font-family: "barlow condensed med";
    font-size: 30px;
    margin-bottom: 55px;
}

section ul {
    margin-bottom: 55px;
}

ul, li {
    font-family: "barlow condensed light";
}

p {
    font-family: "barlow condensed light";
    margin: 0 450px 400px 0;
    font-size: 16px;
}

