@font-face {
    font-family: "bungee Shade";
    src: url(typsnitt/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "bungee Outline";
    src: url(typsnitt/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "barlow semi condensed";
    src: url(typsnitt/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: "barlow condensed";
    src: url(typsnitt/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: "barlow condensed med";
    src: url(typsnitt/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}

@font-face {
    font-family: "barlow condensed light";
    src: url(typsnitt/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf);
}

* {
    font-family: "barlow semi condensed";
    margin: 0;
}

body {
    background-image: url(images/jimi-hendrix.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*kolla denna*/
    min-height: 100vh; 
}

@media screen and (max-width: 500px) {
    .container h1 {
        max-width: 100%; 
        text-align: center;
    }
}

.container {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 20px;
    /*detta?*/
    margin: 10vh auto;
    min-width: 800px;
    width: 80vw;
}

.container h1 {
    font-family: "bungee Shade";
    font-size: 83px;
    color: rgb(233, 230, 230);
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;

    list-style-type: none;
    padding: 60px 0;
}

nav li {
    background-color: rgba(255, 255, 255, 0.622);
    color: black;
    text-align: center;
    font-size: 26px;


    border-radius: 10px;
    padding: 15px 0;
}

.hover:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

#pressed {
    border: 1px solid white;
    font-family: "barlow condensed";
}

main {
    background-color: rgba(0, 0, 0, 0.4);
    border: lightgray solid 1px;
    border-radius: 15px;
    padding: 20px;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    display: flex;
    justify-content: flex-end;
    gap: 1vh;
}

aside {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 1fr;
    gap: 2vh;
    padding-bottom: 1vh;
    width: 40vw;

    position: relative;
}

aside img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;

    transition: opacity 1s;
}

aside img:nth-child(2) {
    position: absolute;
    width: 29vw;
    right: 0vw;

    object-fit: contain;
    opacity: 0;
    transition: opacity 1s;
}

aside:hover img:nth-child(1) {
    opacity: 0;
}

aside:hover img:nth-child(2) {
    opacity: 1;
}

figure {
    text-align: center;
    grid-column: 1 / span 2;
}

figcaption {
    color:rgb(209, 97, 157);
    background-color: rgb(236, 215, 50);
    border-radius: 0 0 0 15px;
    padding: 2vh;
    font-size: 14px;
}

aside figcaption + figcaption {
    border-radius: 0 0 15px 0;
}

ol {
    padding-left: 1vw;
}

section {
    color: white;
}

h2 {
    font-family: "bungee Outline";
    font-size: 34px;
}

section h3 {
    font-family: "barlow condensed med";
    font-size: 3vh;
    margin-bottom: 55px;
}

section ul {
    margin-bottom: 5vh;
}

ul {
    list-style: none;
}

ul, li {
    font-family: "barlow condensed light";
}

p {
    font-family: "barlow condensed light";
    font-size: 2vh;
}

content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1vw;
    margin-top: 1vw;
    height: 25vh;
}

content div {
    background-color:rgb(209, 97, 157);
    color:  rgb(236, 215, 50);
    padding: 40px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

content div:nth-child(1) {
    border-radius: 1vh 0 1vh 1vh;
}

content div:nth-child(3) {
    border-radius: 1vh 1vh 1vh 0;
}

content div:nth-child(4) {
    background-image: url(images/chas_chandler.jpeg);
    background-position: center;
    background-size: cover;

    font-family: "barlow condensed light";
    font-size: 18px;
    color: rgb(214, 214, 214);
    padding: 1vw;
    border-radius: 0 1vh 1vh 1vh;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: end;
    justify-content: left;
}

content div:nth-child(5) {
    border-radius: 1vh 1vh 0 1vh;
}

.blue {
    background-color: rgb(72, 189, 215);
    color: wheat;
}

.wheat {
    grid-template-columns: 2fr 1fr 2fr 1fr;
}

.wheat > div{
    background-color: wheat;
    color: rgb(72, 189, 215);

    display: flex;
    align-items: center;
    justify-content: center;
}

.wheat div:nth-child(1) {
    border-radius: 10px 10px 10px 0;
}

.wheat div:nth-child(2) {
    border-radius: 0 10px 10px 10px;
}

.wheat div:nth-child(3) {
    background-image: url(images/eddie_kramer.jpeg);
    background-position: center;
    background-size: cover;
    
    color: rgb(214, 214, 214);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: "barlow condensed light";
    font-size: 18px;
    padding: 2vh;
    border-radius: 0 10px 10px 10px;

    display: flex;
    align-items: end;
    justify-content: center;
}

.wheat div:nth-child(4) {
    background-image: none;
    text-shadow: none;
    color:  rgb(72, 189, 215);
    border-radius: 10px 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    margin-top: 8vh;
}